<article class="news-item">
  <div class="row">
    <div class="image">
    <% if article.data.image %>
      <a href="<%= article.url %>">
        <%= image_tag article.data.image %>
      </a>
    <% end %>
    </div>
    <div class="content">
      <div class="wrapper">
        <a href="<%= article.url %>">
          <h3><%= article.data.title %></h3>
        </a>
        <p><%= article.data.description %></p>
      <%= link_to 'Read the story', article, class: 'cta' %>
      </div>
    </div>
  </div>
</article>